nextflow.enable.dsl=2
docker.enabled = true

process {
    withName: /^.*/ {
        container = 'mara-preprocessing-app'
    }

    maxForks = 4
    cpus = 4
    memory = '2 GB'
}

executor {
    name = 'local'
    docker {
        enabled = true
    }
}

params {
    script_file = '/work/src/MaraPreprocessingApp.py'
    config_file = 'config.json'
}
