nextflow.enable.dsl=2
docker.enabled = true

process {
    withName: /^.*/ {
        container = 'mara-preprocessing-app'
    }

    maxForks = 2
    
    // (Optional) Specify default CPU and memory resources
    cpus = 2
    memory = '2 GB'
}

executor {
    name = 'local'
    docker {
        enabled = true
    }
}


params {
    script_file = '/work/src/MaraPreprocessingApp.py'
    config_file = '/work/config.json'
    motif_dir = 'source_data/motifs'
    tss_clusters_file = '/work/tss_clusters.bed'
    genome_file = '/work/genome/hg38.fa'
    flank_5 = '250u'
    flank_3 = '0d'
}
